@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/* Start Header Section */
/* Start Header  Intro Section */
.headerintros{
    height: 50px;
    background-color: darkblue;
    color: #fff;

    display: none;
}
@media (min-width: 1200px){
    .visiblelgs{
        display: block;
    }
}
.headerintros .infos{
    font-size: 12px;
    font-weight: bold; /*100 to 900*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Header Intro Section */


/* Start Banner Section */
.carousel-item{
    height: 60vh;
}
.banners1{
    background-image: url('../assets/img/banner/banner4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banners2{
    background-image: url('../assets/img/banner/banner5.jpg');
    
}
.banners3{
    background-image: url('../assets/img/banner/banner6.jpg');

}
/* End Banner Section */

/* End Header Section */
