@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/* Start Header Section */
/* Start Header  Intro Section */
.headerintros{
    height: 50px;
    background-color: darkblue;
    color: #fff;

    display: none;
}
@media (min-width: 1200px){
    .visiblelgs{
        display: block;
    }
}
.headerintros .infos{
    font-size: 12px;
    font-weight: bold; /*100 to 900*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Header Intro Section */


/* Start Banner Section */
.carousel-item{
    height: 60vh;
}
.banners1{
    background-image: url('../assets/img/banner/banner4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banners2{
    background-image: url('../assets/img/banner/banner5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banners3{
    background-image: url('../assets/img/banner/banner6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-blues{
    background-color: darkblue;
    color: #fff;
}
/* End Banner Section */

/* End Header Section */


/* Start Feature Section  */
.iconboxes{
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);

    padding: 50px 20px;

    position: relative;
}
.icons{
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: lightseagreen;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(50% - 35px);
    top: -35px;

    /* transform: translate(-50%); */
}

.iconboxes:hover .icons{
    background: none;
    color: lightseagreen;
    border: 2px solid lightseagreen;
}

/* End Feature Section  */

/* Start Info Section */
.fromlefts{
    animation-name: myleft;
    animation-duration: 3s;
}

.fromrights{
    animation-name: myright;
    animation-duration: 3s;
}

@keyframes myleft {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes myright {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

/* End Info Section */
